---
language: node_js
node_js:
  - "10"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  directories:
    - $HOME/.npm

install:
  - yarn --version
  - yarn --pure-lockfile

script:
  - yarn test
