.row-chart {
    path,
    .grid-line {
        fill: none;
        stroke: @silver;
        shape-rendering: crispEdges;
    }
    .tick text {
        fill: @silver-chalice
    }
}

.d3-tip.e {
    margin-left: 10px;
}

.d3-tip.e:after {
    transform: rotate(90deg);
    top: 46%;
    left: -52%;
}