@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.chart {
    display: flex;
    flex-direction: column;
    font-family: @font-family;
    height: 100%;
    width: 100%;

    .chart-header,
    .axis-title,
    .x.axis {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .chart-canvas {
        flex-grow: 1;
        flex-shrink: 1;

        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
    }

    .chart-canvas svg {
        display: block;
    }

    .axis-title {
        font-weight: bold;
    }

    .axis {
        text {
            fill: @silver-chalice;
        }
    }

    .x.axis {
        margin-bottom: 5px;
        overflow: visible;
        width: 100%;
    }

    .x.axis line,
    .x.axis path {
        fill: none;
        stroke: @alto;
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }

    .axes {
        overflow: visible;
        opacity: 1;
    }

    .y.axis,
    .yr.axis {
        overflow: visible;
        opacity: 1;
    }

    .y.axis line,
    .y.axis path,
    .yr.axis line,
    .yr.axis path {
        fill: none;
        stroke: @alto;
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }

    .grid-line {
        fill: none;
        stroke: @silver;
        opacity: .5;
        shape-rendering: crispEdges;
    }

    .grid-line line {
        fill: none;
        stroke: @silver;
        opacity: .5;
        shape-rendering: crispEdges;
    }

    .brush rect.background {
        z-index: -999;
    }

    .brush rect.extent {
        fill: steelblue;
        fill-opacity: .125;
    }

    .brush .resize path {
        fill: @gallery;
        stroke: @dove-gray;
    }

    .legend text,
    .legend rect{
        cursor: pointer;
    }

}

.d3-tip {
          background: @text-color;
          border-radius: 2px;
          color: @white;
          font-family: @font-family;
          line-height: 1;
          margin-top: -7px;
          padding: 12px;
          transition: opacity .25s ease-in-out, color .25s ease-in-out;

          .tooltip-time {
            background: #3f3f3f;
            color: @silver-chalice;
            display: flex;
            justify-content: center;
            font-size: 11px;
            text-align: center;
            margin: -12px -12px 10px -12px;
            padding: 6px 12px;
          }

          .tooltip-list-item {
            clear: both;
            display: flex;
            font-size: 14px;
            margin: 10px 0;

            &:last-of-type {
                margin-bottom: 0;
            }

            &:only-of-type {
                margin-top: 16px;
            }

            > * {
                flex: 1 0 auto;
            }
          }

          .tooltip-label {
            color: @gallery;
            font-weight: 300;
          }

          .tooltip-value {
            text-align: right;
            margin-left: 8px;
          }
        }

        /* Creates a small triangle extender for the tooltip */
        .d3-tip:after {
          box-sizing: border-box;
          display: inline;
          font-size: 10px;
          width: 100%;
          line-height: 1;
          color: @text-color;
          content: "\25BC";
          position: absolute;
          text-align: center;
        }

        /* Style northward tooltips differently */
        .d3-tip.n:after {
          margin: -3px 0 0 0;
          top: 100%;
          left: 0;
        }