.legend {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    .legend-container {
        overflow-y: auto;
        height: 100%;

        .legend-item {
            padding: 3px 0;

            > span {
                vertical-align: middle;
            }

            .legend-box {
                border: 1px solid black;
                display: inline-block;
                margin-right: 3px;

                &.deselected {
                    opacity: .5;
                    border: 0px;
                }
            }
        }
    }
}
